<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Assignment2\Meghashree\Api\MeghashreeRepositoryInterface" type="Assignment2\Meghashree\Model\MeghashreeRepository"/>
    <preference for="Assignment2\Meghashree\Api\AddressRepositoryInterface" type="Assignment2\Meghashree\Model\AddressRepository"/>
    <preference for="Assignment2\Meghashree\Api\Data\DataInterface" type="Assignment2\Meghashree\Model\Meghashree"/>
    <preference for="Assignment2\Meghashree\Api\Data\AddressInterface" type="Assignment2\Meghashree\Model\Address"/>
    <type name="Assignment2\Meghashree\Api\MeghashreeRepositoryInterface">
        <plugin name="address_attribute"
                type="Assignment2\Meghashree\Plugin\MeghashreeRepositoryInterface" sortOrder="1" disabled="false"/>
    </type>
</config>
