<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Api\Data\CustomerInterface" type="Meghashree\Assignment1\Model\Data\Customer"/>
    <type name="Magento\Customer\Api\Data\CustomerInterface">
        <plugin name="set_middlename"  type="Meghashree\Assignment1\Plugin\Customer" sortOrder="1"/>
    </type>
</config>


